.places{
background-color: var(--color-1);
padding: 80px 0px;
}


/* place-title */

.places-title{
text-align: center;
max-width: 600px;
margin: auto;
}

.places-title h2{
margin-bottom: 8px;
}


/* place-ctn */
#place-wrapper{
overflow: hidden;
}

/* place-box */
#place-box{
display: flex;
}

/* place-imgs */

.place-imgs-ctn{
max-width: 800px;
width: 80vw;
text-align: center;
flex-shrink: 0;
color: var(--color-0);
margin: 0 20px
}

.place-imgs{
border-radius: var(--radius-20);
overflow: hidden;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .5);
display: block;
}
