.reviews-bg{
background-color: var(--gray-6);
padding: 80px 0px;
}

/* title */
.reviews-title{
margin-bottom: 40px;

}



/* reviews-ctn */
#reviews-wrapper{
overflow: hidden;
}


/* reviews-box */
#reviews-box{
display: flex;
margin: 15px 0px;
transition: transform 0.5s ease-in-out;
/* justify-content: center; */
}

.reviews-infos-ctn:first-child {
margin-left: calc((100vw - 1100px) / 2 + 20px);
}

/* .reviews-infos-ctn:last-child {
margin-right: calc((100vw - 1100px) / 2 + 20px);
} */


.reviews-infos-ctn{
max-width: 500px;
width: 60vw;
flex-shrink: 0;
margin: 0 20px;
/* opacity: .8; */
overflow: hidden;
}

.reviews-infos-ctn:hover{
will-change: transform;
}


/* .reviews-infos-ctn.active{

} */

.reviews-infos-infos{
background-color: var(--color-1);
border-radius: var(--radius-20);
padding: 30px;
}


/* reviews-btn-controls */ 

.reviews-btn-controls{
display: flex;
justify-content: space-between;
align-items: center;
}

.btn-reviews-box{
display: flex;
height: 20px;
width: auto;

}

.btn-reviews-box button{
background-color: transparent;
cursor: pointer;
}

.btn-reviews-box button img{
width: 100%;
height: 100%;
}



/* reviews-client */
.reviews-client{
display: flex;
align-items: start;
}

/* photo */
.reviews-client-photo{
border-radius: 100%;
display: block;
overflow: hidden;
}

.reviews-client-photo img{
width: 80px;
}


/* text */
.reviews-text{
margin-bottom: 30px;

}

/* name*/
.reviews-client-name{
margin-left: 15px;
padding-top: 5px;
}

.reviews-client-name span{
display: block;
}
