.container {
box-sizing: border-box;
padding: 0px 20px;
max-width: 1100px;
margin: 0 auto;
}

#btn-login{
border-radius: var(--radius-25);
border: 1px solid var(--color-brand);
padding: 10px 15px;
color: var(--cor-0);
}

.btn-1{
display: inline-block;
border-radius: var(--radius-25);
border: 1px solid var(--color-brand);
color: var(--color-0);
padding: 10px 30px;
font: 700 1.125rem  'LT Eyesight', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
/* transition: 0.2s; */
}

.btn-2{
display: inline-block;
border-radius: var(--radius-25);
background-color: var(--color-brand);
color: var(--color-1);
padding: 10px 30px;
font: 700 1.125rem  'LT Eyesight', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
/* transition: 0.2s; */
}


#btn-register{
display: inline-block;
border-radius: var(--radius-25);
border: 1px solid var(--color-brand);
background-color: transparent;
color: var(--color-brand);
padding: 10px 30px;
font: 700 1.125rem  'LT Eyesight', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
box-shadow: none;
}

#btn-register.btn-registrar-ativo{
background-color: var(--color-brand);
color: var(--color-1);
}



/* btn confirm & cancel register */
#registerConfirm{
display: inline-block;
border-radius: var(--radius-25);
background-color: var(--color-brand);
color: var(--color-1);
padding: 10px 30px;
font: 700 1.125rem  'LT Eyesight', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
box-shadow: none;
}

#registerCancel{
display: inline-block;
border-radius: var(--radius-25);
border: 1px solid var(--color-brand);
background-color: transparent;
color: var(--color-0);
padding: 10px 30px;
font: 700 1.125rem  'LT Eyesight', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
box-shadow: none;
}




.hr-footer-vertical {
border: none; 
border-left: 1px solid var(--color-brand); 
height: 130px; 
margin: 0px 20px;
}



/* media-queries */