.title-40{
font: var(--font-40);
letter-spacing: 2px;
text-transform: uppercase;
color: var(--color-0);
line-height: 1;
}

.title-40-brand{
font: var(--font-40);
text-transform: uppercase;
color: var(--color-brand);
line-height: 1;
}

.title-28{
font: var(--font-28);
letter-spacing: 1px;
text-transform: uppercase;
color: var(--color-0);
line-height: 1;
}




