/* progress-week */
.progress-week{
padding: 30px 0px;
}


/* progress-week-box */
.progress-week-box{
background-color: var(--color-1);
border-radius: var(--radius-25);
padding: 25px 30px;
}

/* progress-week-title */
.progress-week-title{
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}

/* progress-list */
.progress-list{
display: flex;
justify-content: center;
gap: 70px;
padding: 30px;
}

.progress-list li{
display: flex;
flex-direction: column;
align-items: center;
}

.progress{
height: 45px;
width: 45px;
background-color: var(--gray-2);
border: 1px solid var(--color-brand);
border-radius: 100%;
margin-bottom: 10px;
cursor: pointer;
}

.progress img{
display: none;
}

.pogress-day{
text-align: center;
font: var(--font-16);
}

.pogress-day span{
display: block;
/* margin-bottom: 5px; */
}


.register-box{
display: flex;
align-items: center;
}

.register-box span{
display: none;
margin-right: 10px;
}

.register-box span.msgcomplete{
display: block;
}



/* progress javascript */

.progress.ok{
display: flex;
align-items: center;
justify-content: center;
background-color: var(--color-brand);
}

.progress.ok img{
display: block;
}

